#faja-card {
  background-color: white;
  min-height: 35rem;
  min-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  flex-direction: column;
  box-shadow: 0px 0px 71px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  .image-container {
    margin: 3rem 0rem;
    position: relative;
    img {
      max-height: 13rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .gradient {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      background: linear-gradient(139.72deg, #fb049f 12.32%, #1755cc 93.86%);
    }
  }
  h4 {
    font-family: "Poppins";
    color: black;
    font-size: 1.8rem;
  }
  .talles-container,
  .colors-container {
    margin: 2rem 0rem;
    width: 100%;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .talle {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.664);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }
    .color {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 80px;
      border-radius: 20px;
      color: rgba(0, 0, 0, 0.664);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }
  }
}
