.gallery-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
  img {
    height: 300px;
    margin: 1rem 2rem;
  }
  h2 {
    margin: 2rem 0rem;
    font-size: 3rem;
  }
  div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
