$primary: #ce382c;
$secundary: #626262;
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#hero {
  height: 100%;
  width: 100%;
  .hero-container {
    position: relative;
    width: 70%;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-left;
    justify-content: center;
    h2 {
      font-size: 10rem;
      margin: 0;
      line-height: 100%;
      margin-top: 20px;
    }
    h3 {
      font-size: 6rem;
      margin: 0;
      line-height: 100%;
    }
    h4 {
      color: $secundary;
      font-size: 3rem;
      margin: 0;
      line-height: 100%;
    }
  }
  img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80vh;
    object-fit: cover;
  }
  span {
    color: rgba(0, 0, 0, 0.075);
    font-size: 13rem;
    position: absolute;
    right: 35%;
    bottom: 2rem;
    line-height: 100%;
    font-family: "League Gothic";
  }
  .buttons-container {
    margin-top: 2rem;
    width: 30%;
    display: flex;
    button {
      flex: 1;
    }
  }
}

.info-card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 3rem;
  right: 10%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    margin-top: 0.5rem;
    font-size: 2.5rem;
  }
}

$breakpoint-1400: 1400px;
@media (max-width: $breakpoint-1400) {
  #hero {
    .hero-container {
      width: 90%;
      h3 {
        font-size: 4rem;
      }
      h2 {
        font-size: 8rem;
      }
    }
    img {
      position: absolute;
      right: 5%;
      bottom: 0;
      height: 80vh;
      height: 100%;
    }
  }
  .info-card {
    right: 5%;
  }
}

$breakpoint-1024: 1024px;
@media (max-width: $breakpoint-1024) {
  #hero {
    img {
      height: 800px;
    }
    .hero-container {
      h3 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 6rem;
      }
    }
  }
}
$breakpoint-860: 860px;
@media (max-width: $breakpoint-860) {
  #hero {
    .hero-text {
      margin: 4rem 0rem;
    }
    .image-container {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      img {
        height: 500px;
        position: unset;
      }
    }
    span {
      display: none;
    }
    .hero-container {
      h4 {
        font-size: 2rem;
      }
      h2 {
        font-size: 4rem;
      }
      .hero-text {
        text-align: center;
        .buttons-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
    .info-card {
      left: 5%;
      right: unset;
      padding: 1rem;
      h3 {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
